.a-right__displayflex 
  .a-right__prefectures
    .a-right__font
      %label.a-right__font__black{for:"prefectures"} 都道府県
      %span.a-right__font__red 必須 
    .a-right__select
      .a-right__select__box
        .angle-position
          %i.fa.fa-angle-down
  .a-right__station
    .a-right__font
      %label.a-right__font__black{for:"prefectures"} 駅名
      %span.a-right__font__red 必須
    .a-right__select
      .a-right__select__box
        .angle-position
          %i.fa.fa-angle-down
  .a-right__station
    .a-right__font
      %label.a-right__font__black{for:"prefectures"} 建物名
      %span.a-right__font__red 必須
    .a-right__select
      .a-right__select__box
        .angle-position
          %i.fa.fa-angle-down
  .a-right__button
    %button.a-right__button__about
      .a-right__button__font 検索する