.a-content
  .a-content__displayflex 
    .a-content__displayflex__back 
      .a-content__displayflex__back__explain 
        %h1 自分の場所がすぐにわかる。待ち合わせ専用アプリ
    .a-content__displayflex__left 
      .a-content__displayflex__left__box
        .a-content__displayflex__left__box__font
          %h1.a-content__displayflex__left__box__font__h1 待ち合わせ場所のリクエストはこちら
        .a-content__displayflex__left__box__image
          .a-content__displayflex__left__box__image__back          
    .a-content__displayflex__right
      =render 'right'