.b-content
  .b-content__displayflex 
    .b-left
      .b-left__top
        .b-left__top__title 名古屋駅・金時計
      .b-left__body
        .b-left__body__box    
          %figure
            = image_tag 'flag.png',class:"b-left__body__box__image"
    .a-right
      =render 'right'      