.a-content
  .a-content__displayflex 
    .a-back 
      .a-back__explain 自分の場所がすぐにわかる。待ち合わせ専用アプリ
      .a-back__one ONE
    .a-left 
      .a-left__box 
        %h2.a-left__box__font 待ち合わせ場所を検索!
        %input.a-left__box__search 
    .a-right
      .a-right__displayflex 
        .a-right__prefectures
          .a-right__font
            %label.a-right__font__black{for:"prefectures"} 都道府県
            %span.a-right__font__red 必須 
          .a-right__select
            .a-right__select__box
              .angle-position
                %i.fa.fa-angle-down
        .a-right__station
          .a-right__font
            %label.a-right__font__black{for:"prefectures"} 駅名
            %span.a-right__font__red 必須
          .a-right__select
            .a-right__select__box
              .angle-position
                %i.fa.fa-angle-down
        .a-right__station
          .a-right__font
            %label.a-right__font__black{for:"prefectures"} 建物名
            %span.a-right__font__red 必須
          .a-right__select
            .a-right__select__box
              .angle-position
                %i.fa.fa-angle-down

        .a-right__button
          %button.a-right__button__about
            .a-right__button__font 検索する
