.a-content
  .a-content__displayflex 
    .a-back 
      .a-back__explain 自分の場所がすぐにわかる。待ち合わせ専用アプリ
      -# .a-back__one ONE
    .a-left 
      .a-left__box 
        %h2.a-left__box__font 待ち合わせ場所を検索!
        %input.a-left__box__search 
    .a-right
      =render 'right'
