.b-content
  .b-content__displayflex 
    .b-left
      .b-left__top
        .b-left__top__title
          = @place.name
      .b-left__body
        .b-left__body__box  
        - @place.images.each do |image|    
          = link_to plece_path(@place) do
            %figure
              = image_tag "#{ image.image}" ,class:"b-left__body__box__image"
    .a-right
      =render 'right'      
