.a-content{
  height:100%;
  width: 100%;
  display: flex;
  &__displayflex{
    overflow: hidden;               /* はみ出しは非表示     */
    background-image: image-url("49919447ddfa72ad3e38c78a04a2bbb4.png"); 
    background-size: cover; 
    height:100%;
    width: 100%;
    &__back{
      width: 100%;
      height:20%;
      &__explain{
      opacity:0.3;
      font-size:60px;
      padding:20px;
      }
    } 
    &__right{
      width:50%;
      float:left;
      padding-top:50px;
    }
    &__left{
      height:80%;
      width:50%;
      float: left;
      &__box{
        margin:20px 80px 0 80px;
        &__link{
          text-decoration: none;
        }
        &__font{
          padding:0 0 0 30px;
          font-size:30px;
          opacity:0.5;
          color: black;
        }
        &__image{
          padding:0 40px 0 30px;
          -ms-filter: blur(6px);
          filter: blur(6px);
          &__back{
            height:300px;
            width:500px;
            background-image: image-url("example.png");
            background-size: cover; 
          }  
        }        
      }
    } 
  }
}