.b-content{
  width: 100%;
  height:100%;
  box-sizing: border-box;
  &__displayflex{
    overflow: hidden;               /* はみ出しは非表示     */
    background-color: #EDEFEE; 
    background-size: cover;
    width:100%;
    height:100%;
  }
}
.b-left{
  float: left;
  padding:50px 0 0 0px;
  width:50%;  
  height:100%;
  &__top{
    border:solid 1px white;
    border-radius: 50px;
    background-color: white;
    margin:0 0 0 50px;
    &__title{
      line-height:60px;
      text-align: center;
      font-size:50px;
      opacity:0.5;
    }
  }
  &__body{
    padding:20px 0 0 0;
    &__box{     
      &__image{
        border:solid 4px white; 
        height:500px;
        width:700px;
      }
    }
  }
  &__footer{
    margin:0 0 0 100px;
    &__font{
      font-size:30px;
      opacity:0.5;
    }
  }
}